<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<title>User Profile</title>
	</head>
	<body>
		<div class="container">
			<h1>Some kind of Website <small>Edit</small></h1>
			<form method="post" action="/edit/{{ data_id }}" class="form-inline">
			{% if complaint %}<span>{{ complaint }}</span>{% endif %}
			<table class="table-condensed">
				<tr>
					<th>Account</th>
					<td>{{ account }}</td>
				</tr><tr>
					<th>Name</th>
					<td><input type="text" name="name" value="{{ name }}" class="form-control"></td>
				</tr><tr>
					<th>Age</th>
					<td><input type="text" name="age" value="{{ age }}" class="form-control"></td>
				</tr><tr>
					<th>Memo</th>
					<td><input type="text" name="memo" value="{{ memo }}" class="form-control"></td>
				</tr>
			</table><br>
			<button type="submit" class="btn btn-success">Edit and Save</button>
			<a href="/" class="btn btn-default">Cancel</a>
			</form>
		</div>
	</body>
</html>




